<h1 class="title">Transaction list for account#: {{accountID}}</h1>
<div class="form-group">
    <input type="text" class="form-control mb-4 mt-3" placeholder="Search" [(ngModel)] = "query"/>
</div>
<div class="container">
    <div class="table-responsive">    
        <table class="table sort table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Type</th>
                    <th>Balance Before Tran</th>
                    <th>Amount</th>
                    <th>Balance After Tran</th>
                    <th>Transaction Date</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                <tr *ngFor="let transaction of transactions | searchTransaction: query">
                    <td>{{transaction.type}}</td>
                    <td>{{transaction.balance | currency}}</td>
                    <td>{{transaction.amount | currency}}</td>
                    <td>{{transaction.balanceAfterTran | currency}}</td>
                    <td>{{transaction.tranDate | date:'medium' }}</td>
                    <td>{{transaction.comments}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
