<script text="application/javascript">
    $('#example').tooltip(options)
</script>

<h1 class="title">LOG IN</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-danger"  *ngIf="invalidLogin">Invalid Credentials</div>
            <form (ngSubmit)="handleClick()" #todoForm="ngForm">   
                <fieldset class="input-group mb-3">
                    <span class="input-group-text">Username</span> 
                    <input type = "text" class="form-control" name="username" [(ngModel)] = "username">
                </fieldset>
                <fieldset class="input-group mb-3">
                    <span class="input-group-text">Password </span>
                    <input type="password" class="form-control" name="password" [(ngModel)] = "password">
                </fieldset>
                    
                <button class="btn btn-danger">Log In <fa-icon [icon]="faSignInAlt" size="sm"></fa-icon></button>
            </form>
            <button class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" 
                    title="Click here if you have not register to our portal yet." (click) = register()>
                Register <fa-icon [icon]="faUserPlus" size="sm"></fa-icon>
            </button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>