.arrow {
    color: #007BFF;
    float: right;
    margin-left: 20px;
}

.iconTransaction{
    font-size: 75px;
    color: #DC3545;
}

.cell{
    background-color: #b8daff;
    padding-left: 10px;
    padding-right: 10px;
}