
<script text="application/javascript">
  $scope.setColor = function() {
        return "background-color: " + (true ? "#51c5e5" : "#f73a18");
    };
</script>
<h1 class="title">ChequeBook Request</h1>
<div class="container">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3"> <!--Request box-->
        <div class="alert alert-success" *ngIf="todoForm.dirty && success">
          Request# {{cheque.chequeBookID}} has been submitted. Go back to <a routerLink="/dashboard/{{username}}">Home here</a>
        </div>
        <form (ngSubmit)="requestChequeBook()" #todoForm="ngForm">
            <fieldset class="form-group mb-3">
                <label>Select Account</label>
                <select [(ngModel)]="accselected" class="form-select" name="dropdown">
                    <option *ngFor="let account of accounts" [value]="account.accountID" [disabled] = "account.blockStatus" >
                      {{account.accountID}} / {{account.type}} / {{account.blockStatus}}
                    </option>
                  </select>
            </fieldset>

            <fieldset class="form-group mb-3">
                <label>Select Type</label>
                <select [(ngModel)]="typeSelected" class="form-select" name="dropdownrequest">
                  <option *ngFor="let cheque of cheques" [value]="cheque">ChequeBook of {{cheque}} pages</option>
                </select>
            </fieldset>
      
            <button id="my-button" type="submit" class="btn btn-danger">Submit Request</button>
          </form>
    </div>
    <div class="col-md-7"> <!--List Box-->
      <div class="container">
      <table id="table" class="table table-hover table-striped">
        <caption>{{username}} Requests'</caption>
        <thead class="thead-dark">
          <tr id = "mytd">
            <th>Request ID</th>
            <th>Create Date</th>
            <th>Type of Request</th>
            <th>Account</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngFor="let request of requests">
          <tr *ngIf="isNewStatus(request.status)" class="bg-primary">
            <td>{{request.chequeBookID}}</td>
            <td>{{request.createdDate | date: 'medium'}}</td>
            <td>{{request.type}}</td>
            <td>{{request.account.accountID}} / {{request.account.type}}</td>
            <td>{{request.status}}</td>
          </tr>
          <tr *ngIf="isApprovedStatus(request.status)" class="bg-success">
            <td>{{request.chequeBookID}}</td>
            <td>{{request.createdDate | date: 'medium'}}</td>
            <td>{{request.type}}</td>
            <td>{{request.account.accountID}} / {{request.account.type}}</td>
            <td>{{request.status}}</td>
          </tr>
          <tr *ngIf="isRejectedStatus(request.status)" class="bg-warning">
            <td>{{request.chequeBookID}}</td>
            <td>{{request.createdDate | date: 'medium'}}</td>
            <td>{{request.type}}</td>
            <td>{{request.account.accountID}} / {{request.account.type}}</td>
            <td>{{request.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>
