<h1 class="title">{{username}} Profile</h1>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
        <div class="col-md-6">
            <fieldset class="input-group mb-3">
                <span class="input-group-text">Name</span>
                <input type="text" class="form-control" [value]="user.name" name="name" disabled/>
            </fieldset>

            <fieldset class="input-group mb-3">
                <span class="input-group-text">Birthdate</span>
                <input type="date" class="form-control" [value]="user.birthdate | date: 'yyyy-MM-dd'" name="birthdate" disabled/>
            </fieldset>
            <div class="square">
            <legend>User access</legend>
            <fieldset class="form-check form-check-inline form-switch">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" [value]="user.userAccess[0]" [checked]="user.userAccess[0]" disabled/>
                <label for="inlineCheckbox1" class="form-check-label">Deposit</label>
            </fieldset>

            <fieldset class="form-check form-check-inline form-switch">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox2" [value]="user.userAccess[1]" [checked]="user.userAccess[1]" disabled/>
                <label for="inlineCheckbox2" class="form-check-label">Withdraw</label>
            </fieldset>

            <fieldset class="form-check form-check-inline form-switch">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox3" [value]="user.userAccess[2]" [checked]="user.userAccess[2]" disabled/>
                <label for="inlineCheckbox3" class="form-check-label">Transfer</label>
            </fieldset>
        </div>
        </div>
        <div class="col-md-6">
            <fieldset class="input-group mb-3">
                <span class="input-group-text">Last Name</span>
                <input type="text" class="form-control" [value]="user.lastName" disabled/>
            </fieldset>

            <fieldset class="input-group mb-3">
                <span class="input-group-text">Phone</span>
                <input type="text" class="form-control" [value]="user.phone" disabled/>
            </fieldset>

            <table class="table table-sm table-striped table-hover square">
                <thead class="thead-dark">
                    <tr>
                        <th>Account ID</th>
                        <th>Type</th>
                        <th>Blocked?</th>
                    </tr>
                </thead>
                <tbody *ngFor="let account of accounts">
                    <tr></tr>
                    <tr>
                        <td>{{account.accountID}}</td>
                        <td>{{account.type}}</td>
                        <td>{{account.blockStatus}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>

    <button id="my-button" type="submit" class="btn btn-danger" (click)="handleClick()" >Home</button>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
